html {
    overflow-y: scroll;
}

body{
    font-family: sans-serif,arial;
    background-image:url(bakgrundsbild2.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;

}
/*Style för alla knappar*/
#submitknapp, a{
    border: 2px solid #B06515;
    padding: 5px 10px;
    background-color:#966C18;
    text-shadow: 1px 1px #000000;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C98236', endColorstr='#B06515');
    background: -moz-linear-gradient(center top , #C98236, #B06515) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C98236), to(#B06515));
    background: -o-linear-gradient(top, #C98236, #B06515);
    float:left;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    box-shadow:  0 2px 4px rgba(0,0,0,.40);
    text-decoration:none;
    font-weight: bold;
    line-height: 30px;
    text-align: center; 
}
#submitknapp:hover, a:hover{
    background: -o-linear-gradient(top, #ED8413, #CC6C06);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED8413', endColorstr='#CC6C06');
    background: -moz-linear-gradient(center top , #ED8413, #CC6C06) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#ED8413), to(#CC6C06));
}
a:active{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC6C06', endColorstr='#ED8413');
    background: -moz-linear-gradient(center top , #CC6C06, #ED8413) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC6C06), to(#ED8413));
}

/*slut på kod, style för alla knappar*/


/*#bakgrund{
    position: fixed;
    background-image:url(bakgrundsbild2.jpg);
    background-repeat:no-repeat;
    
}*/

#mainwindow{
    background-color:rgba(255,255,255,0.8);
    /*border:black solid 1px;*/
    width:1200px;
    margin: 0px auto;
    height:auto;


}

#SecondWindow{
    position: static;
    margin-top: 30px;
    /*border:red solid 1px;*/
    width:1200px;
    min-height: 500px;
    padding-bottom: 20px;

}

#header{
    
    height:200px;
    background-color:#FFE6B5;
    width:1200px;

}


/*Här börjar koden för menyn*/
.Meny li a{
    height: 30px;
    width: 120px;

}

.Meny {
    position: relative;
    z-index: 1;
    float:left;

    margin: 0px;
    margin-top: 10px;
    margin-left:30px;
}


.Meny  li {
    list-style-type:none;

    position:relative;
    float:left;

}

.Meny li ul li{
    float:none;
    width: 120px;
}
.Meny li ul{
    display:none;
    position:absolute;
    top:100%;
    margin-left:-40px;
}

.Meny li:hover > ul{
    display: block;
}

.sökruta{
    float: right;
    z-index: 5;
    margin-right: 20px;
    width:180px;
    height: auto;
    margin-top:10px;
}
.sökruta input{
    z-index: 5;
    color: #000000;
    padding:10px;
    font-weight: bold;
    background-color: #ffffff;
    border:none;
    border-radius: 10px; 
    box-shadow: 0px 0px 5px black inset;
    margin-top:-15px;
}
.menyHeader{

    width: 1200px;
    height: 60px;
    background-color:#FFE6B5;
}
/*Här slutar koden för menyn*/


/*Knapp för varukorg*/



#knappvara a{

    float:right;
    height: 30px;
    width: 120px;

    margin-right: -260px;
    margin-top: 160px;
}





/*här slutar kod för knapp varukorg*/


/*Här börjar kod för login och reg knapparna*/
.login  {
    /*border:black solid 1px;*/


    float:right;
    width:300px;

}

.login text {
    border: 2px solid #B06515;
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
    background-color:#966C18;
    text-shadow: 1px 1px #000000;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C98236', endColorstr='#B06515');
    background: -moz-linear-gradient(center top , #C98236, #B06515) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C98236), to(#B06515));
    background: -o-linear-gradient(top, #C98236, #B06515);
    float:left;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    box-shadow:  0 2px 4px rgba(0,0,0,.40);
    text-decoration:none;
    font-weight: bold;
}

.login ul li{
    float:left;
    width: 125px;
    list-style-type:none;
}
.login ul li a{
    height: 30px;
    width: 100px;
}


/*Här slutar kod för login och reg knapparna*/


/*Här börjar koden för fin utskrift av produkter och deras knappar*/
.varuknappar a{
    height: 20px;
    width: 100px;
    line-height: 20px;
    margin: 5px;
}
#navigering{
    margin-left: 100px;
}
.vara{
    opacity: 0.8;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0.1s;  
    background-color: #FFF6BF; 
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    box-shadow:  0 2px 4px rgba(0,0,0,.40);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    border-radius: 4px;
    border-top: #C39539 solid 20px;
    padding: 10px;
    margin: 5px;
    width:300px;
    height: 300px;
    float: left;

}

.vara:hover{
    opacity: 1;
}

#allavaror{
    width: 1000px;
    margin-left: 110px;
}



.bild{
    margin-left: 90px;
    margin-bottom: 20px;
}
.varuutskrift{
    position: relative;
    /*border: black solid 1px;*/
    height: 100px;
}
.info{
    height: 80px;
    /*border: black solid 1px;*/
    overflow: hidden;
}
.varuknappar{

    padding-left: 20px;

}
/*Här slutar produkter.*/



/*Här börjar koden för fin utskrift på kolla info om produkter*/
#storbild{
    /*border: black solid 1px;*/
    width: 500px;
    height: 500px;

}
#varansinfo{
    /*border: black solid 1px;*/
    width:900px;
    margin-left: 150px;
}
.viktiginfo{
    /*border: black solid 1px;*/
    width: 300px;
    float: right;
    margin-top: -480px;
    margin-right: 80px;
    font-size: 20pt;
    height: 480px;
}
.viktiginfo a{
    height: 40px;
    width: 120px;
    margin: 5px;
}

.inforuta{
    /*border: black solid 1px;*/
    height: 80px;
    width: 500px;
}



/*Här slutar koden, kolla info om produkter*/

/*Här börjar koden för varukorgen*/

#cartruta{
    
    width: 700px;
    margin-left: 250px;
    background-color: rgba(255,255,255,0); 
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    box-shadow:  0 2px 4px rgba(0,0,0,.40);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 20px;
    border-top: #ED8413 solid 20px;
}
.cart:nth-child(odd){
    background-color: #FFF6BF; 
}
.cart{
    margin-left: 75px;
    margin-top: 10px;
    width: 550px;
    height: 101px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.40);
    box-shadow:  0 2px 4px rgba(0,0,0,.40);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFE6B5; 
}
.varukorgbild{
    margin-left: 30px;
}
.produkt{
    margin-left: 150px;
    margin-top: -100px;
    font-size: 14pt;
}
.antal{
    border-left: #B49A66 solid 1px;
    width:274px;
    height: 100px;
    margin-left: 122px;
    margin-top: -43px;

}
.pris{
    border-left: #B49A66 solid 1px;
    width: 155px;
    height: 100px;
    margin-left: 140px;
    margin-top: -66px;
}
#h1cart{
    margin-left: 500px;
}
.antal a{

    height: 10px;
    width: 30px;
    line-height: 15px;
    margin: 5px;

}

#Tomvarukorg{
    margin-left: 190px;
}
.cartbutton a{
    height: 40px;
    width: 100px;
    line-height: 20px;
    margin-left: 10px;
}


.cartbutton2 a{
    height: 40px;
    width: 100px;
    line-height: 20px;
    margin-top: 25px;
    margin-left: 275px;

}
.cartbutton a:nth-child(2){
    line-height: 40px;
    margin-left: 150px;
    margin-right: 150px;
}
.cartbutton{
    margin-left: 250px;
    margin-top: 20px;
}

#total1{

    height: 60px;
    width: 300px;
    margin-top: 20px;
    margin-left: 250px;
}


/*Här slutar koden för varukorg*/


/* stylesheets för forms */
label {
    width: 8em;
    float: left;
    text-align: left;
    margin-right: 1em;
    margin-left: 3em;
}

#inlogg {
    

}

.errormsg {
    margin-left: 2em;
    color: red;
}
/* forms slutar */

/* stylesheets för kassan */
#productstable {
    width: 40%;
    position: relative;
    left: 30%;
}

#productstableheader {
    width: 40%;
    position: relative;
    left: 30%;
}

#productstable a {
    padding: 0px 1em;
    height: 1.05em;
    line-height: initial;
    width: 4em;
    float: right;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}

.productrow:nth-child(odd) {
    height: 1.4em;
    background-color: #FFF6BF;
}

.productrow:nth-child(even) {
    height: 1.4em;
    background-color: #FFE6B5;
}

text.left {
    position: relative;
    display: inline;
    float: left;
}

text.right {
    position: relative;
    display: inline;
    float: right;
}

.checkout a {
    background-color:#966C18;
    color:#000000;
    padding-left: 3em;
    padding-right: 3em;
    height: 20px;
    width: auto;
    float: right;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}

.checkout a:hover{
    background-color:#FFCB63;
    color:#000000;
}

#createorder {
    position: relative;
    background-color: #B49A66;
    width: 50%;
    margin-left: 25%;
    height: 100px;
}

#createorder h1 {
    color:#000000;
    position: relative;
    padding-top: 1em;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}

/* kassan slutar */

/* stylesheets för profil */
#profil {
    float: left;
    margin-left: 3em;
    margin-right: 10em;
}

/* profil slutar */
