body{
    font-family: sans-serif,arial;
    background-image:url(bakgrundsbild2.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;

}
/*#bakgrund{
    position: fixed;
    background-image:url(bakgrundsbild2.jpg);
    background-repeat:no-repeat;
    
}*/

#mainwindow{
    background-color:rgba(255,255,255,0.5);
    /*border:black solid 1px;*/
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    margin-top:-9px;
}

#SecondWindow{
    position: static;
    margin-top: 30px;
    /*border:red solid 1px;*/
    width:1200px;
    height: auto;
}

#header{
    height:200px;
    background-color:#FFE6B5;
    width:1200px;
    margin-bottom: 3em;
}

/*Här börjar koden för menyn*/
.Meny li a{
    background-color:#966C18;
    color:#000000;
    float:left;
    height: 50px;
    width: 120px;
    text-decoration:none;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    margin-top:0px;
    font-size:20px;

}
.Meny li a:hover{
    background-color:#FFCB63;
    color:#000000;
}
.Meny {
    z-index: 5;
    background-color:#B49A66;
    margin-top:-20px;
    height:51px;
    width:1200px;
    float:left;
    /*border:black solid 1px;*/
    position:absolute;
    top:199px;
}
.Meny ul li {
    margin-top:-16px;
    margin-right:41px;
    margin-left:-40px;
    height:50px;
    /*border:black solid 1px;*/
    width:120px;
    list-style-type:none;
    float:left;

}
.Meny ul li ul li{
    width: 120px;
    margin-bottom:15px;
    border-right:black solid 1px;
    border-left:black solid 1px;
    border-bottom:black solid 1px;
}
li ul{
    display:none;

}

li:hover ul{

    display: block;
    margin-top:65px;


}

.sökruta{
    position: absolute;
    right: 5%;
}
/*Här slutar koden för menyn*/


/*Knapp för varukorg*/



#knappvara a{
    
    margin-top: 150px;
    background-color:#966C18;
    color:#000000;
    float:right;
    height: 27px;
    width: 100px;
    text-decoration:none;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: -200px;
}

#knappvara a:hover{
    background-color:#FFCB63;
    color:#000000;
}



/*här slutar kod för knapp varukorg*/


/*Här börjar kod för login och reg knapparna*/
.login  {
    /*border:black solid 1px;*/

    top:3px;
    float:right;
    width:300px;

}


.login ul li{
    float:left;
    height: 28px;
    width: 100px;
    /*border:black solid 1px;*/
    margin-right:10px;
    list-style-type:none;
}
.login ul li a{
    background-color:#966C18;
    color:#000000;
    float:left;
    height: 27px;
    width: 100px;
    text-decoration:none;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    font-size:20px;
}
.login li a:hover{
    background-color:#FFCB63;
    color:#000000;
}


/*Här slutar kod för login och reg knapparna*/


/*Här börjar koden för fin utskrift av produkter och deras knappar*/
.varuknappar a{

    background-color:#966C18;
    color:#000000;
    float:left;
    height: 20px;
    width: 100px;

    text-decoration:none;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;



}
.varuknappar a:hover{
    background-color:#FFCB63;
    color:#000000;
}
.vara{
    background-color: #B49A66;
    border-bottom: black solid 1px;
    width:300px;
    height: 300px;
    float: left;
}
.vara:nth-child(odd){
    background-color: #FFF6BF; 
}
.bild{
    margin-left: 90px;
    margin-bottom: 20px;
}
.varuutskrift{
    position: relative;
    /*border: black solid 1px;*/
    height: 100px;
}
#info{
    height: 80px;
    /*border: black solid 1px;*/
    overflow: hidden;
}
.varuknappar{
    
    padding-left: 30px;

}
/*Här slutar produkter.*/

/*Här börjar koden för fin utskrift på kolla info om produkter*/
#storbild{
    /*border: black solid 1px;*/
    width: 500px;
    height: 500px;
    
}
#varansinfo{
    /*border: black solid 1px;*/
    width:900px;
    margin-left: 150px;
}
.viktiginfo{
    /*border: black solid 1px;*/
    width: 300px;
    float: right;
    margin-top: -480px;
    margin-right: 80px;
    font-size: 20pt;
    height: 480px;
}
.viktiginfo a{
    background-color:#966C18;
    color:#000000;
    padding: 10px;
    height: 27px;
    width: 100px;
    text-decoration:none;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14pt;
    margin-left: 80px;
    
    
}
.viktiginfo a:hover{
    background-color:#FFCB63;
    color:#000000;
}
#inforuta{
    /*border: black solid 1px;*/
    height: 80px;
    width: 500px;
}



/*Här slutar koden, kolla info om produkter*/

/*Här börjar koden för varukorgen*/

#cartruta{

    width: 700px;
    margin-left: 320px;
    background-color: #B49A66; 
}
#cart:nth-child(odd){
    background-color: #FFF6BF; 
}
#cart{
    margin-left: 100px;

    width: 498px;
    height: 101px;

    background-color: #FFE6B5; 
}
.produkt{
    margin-left: 120px;
    margin-top: -100px;
    font-size: 14pt;
}
.antal{
    border-left: #B49A66 solid 1px;
    width:274px;
    height: 100px;
    margin-left: 122px;
    margin-top: -43px;

}
.pris{
    border-left: #B49A66 solid 1px;
    width: 155px;
    height: 99px;
    margin-left: 140px;
    margin-top: -65px;
}
#h1cart{
    margin-left: 170px;
}
.antal a{
    background-color:#966C18;
    color:#000000;
    float:left;
    height: 20px;
    width: 50px;
    text-decoration:none;
    font-weight: bold;
    margin-right: 18px;
    text-align: center;
}
.antal a:hover{
    background-color:#FFCB63;
    color:#000000;
}

.cartbutton a{
    background-color:#966C18;
    color:#000000;
    height: 40px;
    width: 100px;
    float: left;
    text-decoration:none;
    font-weight: bold;
    margin-right: 180px;
    text-align: center;
    margin-left: 320px;
    
}
.cartbutton a:hover{
    background-color:#FFCB63;
    color:#000000;
}
#total{
    margin-top: -23px;
    height: 100px;
}
#total1{
    
    height: 60px;
    width: 300px;
    margin-top: 20px;
    margin-left: 500px;
}


/*Här slutar koden för varukorg*/


/* stylesheets för forms */
label {
    width: 8em;
    float: left;
    text-align: left;
    margin-right: 1em;
    margin-left: 3em;
}

div#inlogg {
    margin-top: 10em;
    margin-left: 5em;

}

.errormsg {
    margin-left: 2em;
    color: red;
}
/* forms slutar */

/* stylesheets för kassan */
#productstable {
    width: 40%;
    position: relative;
    left: 30%;
}

#productstable a {
    background-color:#966C18;
    color:#000000;
/*    padding-left: 2em;
    padding-right: 2em;*/
    height: auto;
    width: 150px;
    float: right;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}

#productstable a:hover{
    background-color:#FFCB63;
    color:#000000;
}

.productrow:nth-child(odd) {
    height: 1.4em;
    background-color: #FFF6BF;
}

.productrow:nth-child(even) {
    height: 1.4em;
    background-color: #FFE6B5;
}

text.left {
    position: relative;
    display: inline;
    float: left;
}

text.right {
    position: relative;
    display: inline;
    float: right;
}

.checkout a {
    background-color:#966C18;
    color:#000000;
    padding-left: 3em;
    padding-right: 3em;
    height: 20px;
    width: auto;
    float: right;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}

.checkout a:hover{
    background-color:#FFCB63;
    color:#000000;
}

#createorder {
    position: relative;
    background-color: #B49A66;
    width: 50%;
    margin-left: 25%;
    height: 100px;
}

#createorder h1 {
    color:#000000;
    position: relative;
    padding-top: 1em;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}

/* kassan slutar */

/* stylesheets för profil */
.profilknappar a {
    background-color:#966C18;
    color:#000000;
    height: 20px;
    width: 200px;
    text-decoration:none;
    font-weight: bold;
    margin-right: 18px;
    text-align: center;
    font-size: 15pt;
    padding: 0.5em;
}
.profilknappar a:hover{
    background-color:#FFCB63;
    color:#000000;
}

/* profil slutar */
